/**
 * Theme Name: B for Bell
 * Author: HivistaSoft
**/
html, body { 
	width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:11px;
  color:#000000;
  background:#FFFFFF;
}
 
div, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, select, input, textarea, img, dl, dt, dd, table, div, td, theder, button, blockquote, article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr { 
	padding:0px;
  margin:0px;
}

article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr, address { 
	display:block;
  font-style:normal;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight:normal;
	line-height:none;
}

h1, h2 { font-size:16px;  }

h3 { font-size:14px;  }

p { padding:8px 0px 7px 0px;  }

ul, ol { padding:8px 0px 7px 20px;  }

img { 
	max-width:100%;
	border:none;
}

a, div.timely a { 
	color:#d25597;
  text-decoration:underline;
}

a:hover, div.timely a:hover { 
	color:#d25597;
  text-decoration:none;
}

table { 
	width:99%;
	border-collapse:collapse;
}

td, th { 
	border:1px solid #CCC;
	padding:3px;
}

hr { 
	width:100%;
	height:1px;
	margin:0px;
	padding:0px;
	border:none;
	border-top:1px solid #d25597;
}

img.aligncenter { 
	display:block;
  margin:0 auto;
}

img.alignright { 
	margin:4px 0px 5px 20px;
  display:inline;
  float:right;
}

img.alignleft { 
	margin:4px 20px 5px 0px;
  display:inline;
  float:left;
}

div.navigation { 
	padding:6px 25px 8px 25px;
	border:1px solid #e297bf;
	background:0px 0px url(img/bg_img_04.png) repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#d25597;
}

div.navigation a { 
	color:#d25597;
	text-decoration:none;
}

div.nav-previous { float:left;  }

div.nav-next { float:right;  }

form#searchform input[type="text"] { 
	width: 68%;
	height:19px;
	margin:0px 0px 0px 0px;
	padding:1px 2.016% 1px 2.016%;
	display:block;
	float:left;
	border:1px solid #cdcdcd;
	background:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:19px;
	color:#9b9e9e;
}

form#searchform span.submit
{
	width:23.79%;
	height:23px;
	display:block;
	float:right;
	background:#000000;
	position:relative;
}

form#searchform [type="submit"]
{
	width:100%;
	padding:5px 0px 0px 0px;
	margin:0px;
	float:left;
	border:none;
	background:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	font-weight:bolder;
	text-transform:uppercase;
	color:#FFFFFF;
	cursor:pointer;
}

form#searchform label { display: none;  }

.cf:before, .cf:after { content:""; display:block; overflow:hidden;  }

.cf:after { clear:both;  }

.clear { 
	clear:both;
  font-size:1px;
  line-height:1px;
  overflow:hidden;
  height:1px;
}

.left { float:left;  }

.right { float:right;  }

.fixed-block { max-width: 728px; float: right; }


