/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Fancybox styles
   5. Custom scroll styles
   ---------------------------------------------------------*/
  /* ---------------------------------------------------------
   1. Embedded fonts styles
   ---------------------------------------------------------*/
@font-face {
	font-family: 'franklin_gothic_mediumregular';
	src: url('../fonts/fgm-webfont.eot');
	src: url('../fonts/fgm-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fgm-webfont.woff') format('woff'),
		url('../fonts/fgm-webfont.ttf') format('truetype'),
		url('../fonts/fgm-webfont.svg#franklin_gothic_mediumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
  /* ---------------------------------------------------------
   2. General reset
   ---------------------------------------------------------*/
  /*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
body {
	margin:0;
	color:#333;
	font:12px/15px Arial, Helvetica, sans-serif;
	background:#edecec;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width:1024px;
}
img {border-style:none;}
/* set styles for default page links */
a {
	text-decoration:none;
	color:#d9adc7;
	outline:none;
}
a:hover {
	text-decoration:none;
	color:#626264;
}
a:active {background-color: transparent;}
/* set default styles in all browsers */
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	outline:none;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea{
	-webkit-appearance:none;
	border-radius:0;
}
/* ---------------------------------------------------------
   3. Common site styles
   ---------------------------------------------------------*/
.wrap-holder{
	width:100%;
	overflow:hidden;
	position:relative;
}
  /* main container styles */
#wrapper{
	width:100%;
	position:relative;
	background:#edecec;
}
.w1{
	width:944px;
	margin:0 auto;
	padding:48px 0 0;
}
.home .w1{padding:0;}
.btn-top{
	position:fixed;
	bottom:14px;
	left: 50%;
	margin: 0 0 0 472px;
	background:url(../../images/btn-sprite.png) no-repeat -180px 0;
	width:36px;
	height:36px;
	overflow:hidden;
	text-indent:-9999px;
}
/* header styles */
#header{
	background:#fff url(../../images/bg-header.png) repeat-x;
	height:48px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.32);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.32);
	z-index:10;
}
#header .holder{
	width:944px;
	margin:0 auto;
}
#header .holder:after{
	content:"";
	display:block;
	clear:both;
}
/* page logo styles */
.logo{
	width:128px;
	height:48px;
	background:url(../../images/logo.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 -48px;
	position:absolute;
	left:50%;
	top:0;
}
.logo a{
	display:block;
	height:100%;
}
#header .section{
	float:left;
	padding:15px 0 0;
	margin:0;
	width:225px;
}
#header .section.r{
	float:right;
	text-align:right;
	padding:13px 0 0;
	margin: 0;
	width:auto;
}
.social-list{
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:4px 21px 0 0;
	list-style:none;
	text-align:left;
}
.social-list li{
	float:left;
	padding:0 6px 0 0;
}
.social-list a{
	background:url(../../images/social-ico.png) no-repeat;
	width:24px;
	height:24px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
.social-list a:hover{
	text-decoration:none;
	background:url(../../images/social-ico.png) no-repeat 0 -28px;
}
.social-list .twitter{background:url(../../images/social-ico.png) no-repeat -25px 0;}
.social-list .twitter:hover{background:url(../../images/social-ico.png) no-repeat -25px -28px;}
.social-list .pinterest{background:url(../../images/social-ico.png) no-repeat  -50px 0;}
.social-list .pinterest:hover{background:url(../../images/social-ico.png) no-repeat -50px -28px;}
.upload-btn{
	display:inline-block;
	vertical-align:top;
	background:url(../../images/btn-sprite.png) no-repeat -135px -3px;
	width:18px;
	height:18px;
	text-align:left;
	overflow:hidden;
	text-indent:-9999px;
	margin:7px 24px 0 0;
}
.upload-btn:hover{background-position:-135px -28px;}
.popup-holder1{
	position:relative;
	padding:5px 0 17px;
	float:left;
}
.section.r .login-block{
	display:inline-block;
	vertical-align:top;
	margin: 0 0 0 -15px;
	padding: 10px 0 0;
	font-size:12px;
	line-height:13px;
	font-weight:bold;
	color:#676767;
}
.section.r .login-block a{color:#676767;}
.section.r .login-block a:hover{color:#d9adc7;}
.section.r .popup-holder1{
	float:none;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	padding:0 0 4px;
}
.popup-holder1 .open{
	background:url(../../images/btn-sprite.png) no-repeat;
	width:16px;
	height:14px;
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	position:relative;
	z-index:21;
}
.popup-holder1 .open:hover{
	background-position:0 -17px;
	text-decoration:none;
}
.section.r .popup-holder1 .open{
	background:none;
	width:auto;
	height:auto;
	overflow:hidden;
	text-indent:0;
	display:inline-block;
	color:#000;
	font-size:12px;
	line-height:13px;
	z-index:10;
}
.section.r .popup-holder1 .open:hover{
	text-decoration:none;
	color:#d9adc7;
}
.section.r .popup-holder1 .open img{vertical-align:top;}
.section.r .popup-holder1 .open span{
	display:inline-block;
	vertical-align:bottom;
	padding:0 11px 3px 2px;
	background:url(../../images/btn-sprite.png) no-repeat 100% -252px;
}
.popup-holder1 .popup{
	display:none;
	position:absolute;
	left:-33px;
	top:100%;
	background:#fff;
	width:347px;
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.4), 0 -1px 1px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.4), 0 -1px 1px rgba(0, 0, 0, 0.4) inset;
	z-index:20;
}
.section.r .popup-holder1 .popup{
	width:202px;
	left:-153px;
}
.popup-holder1 .popup:after{
	bottom: 100%;
	left: 28px;
	background:url(../../images/btn-sprite.png) no-repeat 0 -1386px;
	content: " ";
	height: 14px;
	width: 26px;
	position: absolute;
	z-index:50;
	margin:0;
}
.section.r .popup-holder1 .popup:after{
	left:auto;
	right:19px;
}
.topiclist{
	margin:0;
	padding:17px 0 8px;
	list-style:none;
	font-size:16px;
	line-height:25px;
}
.topiclist li{
	vertical-align:top;
	padding:0 23px 9px;
}
.topiclist a{
	display:inline-block;
	vertical-align:top;
	color:#626264;
	padding:0 0 0 46px;
	background:url(../../images/btn-sprite.png) no-repeat -576px -691px;
}
.topiclist a:hover{
	color:#d9adc8;
	text-decoration:none;
	background:url(../../images/btn-sprite.png) no-repeat -576px -736px;
}
.topiclist .creations{background:url(../../images/btn-sprite.png) no-repeat -574px -782px;}
.topiclist .creations:hover{background:url(../../images/btn-sprite.png) no-repeat -574px -828px}
.topiclist .uploads{background:url(../../images/btn-sprite.png) no-repeat -575px -875px;}
.topiclist .uploads:hover{background:url(../../images/btn-sprite.png) no-repeat -575px -923px;}
.topiclist .favorites{background:url(../../images/btn-sprite.png) no-repeat -576px -981px;}
.topiclist .favorites:hover{background:url(../../images/btn-sprite.png) no-repeat -576px -1029px;}
.topiclist .notifications{background:url(../../images/btn-sprite.png) no-repeat -576px -1081px;}
.topiclist .notifications:hover{background:url(../../images/btn-sprite.png) no-repeat -576px -1140px;}
.topiclist .settings{background:url(../../images/btn-sprite.png) no-repeat -576px -1204px;}
.topiclist .settings:hover{background:url(../../images/btn-sprite.png) no-repeat -576px -1263px;}
.topiclist .logout{background:url(../../images/btn-sprite.png) no-repeat -578px -1316px;}
.topiclist .logout:hover{background:url(../../images/btn-sprite.png) no-repeat -578px -1371px;}
.categories{
	width:100%;
	overflow:hidden;
	text-align:center;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
}
.categories ul{
	float:left;
	width:50%;
	margin:0 0 -3px;
	padding:24px 0 0;
	list-style:none;
}
.categories li{
	vertical-align:top;
	padding:0 20px 19px;
}
.categories a{
	color:#626264;
}
.categories a:hover{
	color:#d9adc8;
	text-decoration:none;
}
/* navigation styles */
.nav{
	margin:0;
	padding:7px 0;
	list-style:none;
	width:100%;
	overflow:hidden;
	background:#edebec;
	font-size:13px;
	line-height:16px;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4) inset;
}
.nav li{
	float:left;
	padding:0 0 0 19px;
}
.nav li:first-child{padding:0 12px 0 19px;}
.nav a{
	color:#626264;
}
/* search-form styles */
.search-form{
	float:right;
	width:187px;
	height:21px;
	overflow:hidden;
	border:1px solid #fff;
	padding:0 4px;
}
.search-form.active{border:1px solid #ccc;}
.search-form input{
	float:right;
	background:none;
	border:0;
	width:0;
	padding:3px 0;
	margin:0;
	font-size:12px;
	line-height:15px;
	overflow:hidden;
	cursor:default;
}
.search-form.active input{
	width:165px;
	cursor:text;
}
.search-form input[type="submit"]{
	float:left;
	background:url(../../images/btn-sprite.png) no-repeat 0 -38px;
	width:16px;
	height:16px;
	cursor:pointer;
	padding:0;
	margin:3px 0 0;
	text-indent:-9999px;
	overflow:hidden;
}
.search-form input[type="submit"]:hover{cursor:pointer;}
.container{
	background:#ddd;
	margin:0 0 16px;
	padding:60px 0 0;
	text-align:center;
	color:#525151;
	font-size:12px;
	line-height:15px;
	height:106px;
	white-space:nowrap;
}
.container:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.container .inner{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}
.container h1{
	font-size:24px;
	line-height:27px;
	font-weight:bold;
	margin:0 0 9px;
	color:#000;
}
.container p{margin:0 0 11px;}
.container .btn{
	display:inline-block;
	vertical-align:top;
	font-size:19px;
	line-height:22px;
	color:#fff;
	padding:5px 26px;
	margin: -3px 0 3px;
	background: #fbcde8 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiY2RlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2Y1YzhlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2RlYjJjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q5YWRjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2UwYjFjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWM0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbcde8 0%, #f5c8e3 10%, #deb2cc 37%, #d9adc7 50%, #e0b1cd 67%, #fac4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbcde8), color-stop(10%,#f5c8e3), color-stop(37%,#deb2cc), color-stop(50%,#d9adc7), color-stop(67%,#e0b1cd), color-stop(100%,#fac4e4));
	background: -webkit-linear-gradient(top,  #fbcde8 0%,#f5c8e3 10%,#deb2cc 37%,#d9adc7 50%,#e0b1cd 67%,#fac4e4 100%);
	background: -o-linear-gradient(top,  #fbcde8 0%,#f5c8e3 10%,#deb2cc 37%,#d9adc7 50%,#e0b1cd 67%,#fac4e4 100%);
	background: -ms-linear-gradient(top,  #fbcde8 0%,#f5c8e3 10%,#deb2cc 37%,#d9adc7 50%,#e0b1cd 67%,#fac4e4 100%);
	background: linear-gradient(to bottom,  #fbcde8 0%,#f5c8e3 10%,#deb2cc 37%,#d9adc7 50%,#e0b1cd 67%,#fac4e4 100%);
}
/* gallery-block styles */
.gallery-block{
	padding:0;
	margin:0 0 19px;
	position:relative;
}
.gallery-block h2{
	padding:5px 0 4px;
	margin:0;
	font-size:12px;
	line-height:15px;
	text-transform:uppercase;
	font-weight:normal;
	color:#4e4e50;
}
.gallery-block h2 span{margin:0;}
.gallery-holder{
	padding:0;
	margin:0 -40px;
	border:1px solid #ccc;
}
.gallery-block .mask{
	width:100%;
	margin:0;
	overflow:hidden;
}
.gallery-block .mask .slideset{
	float:left;
	width:99999px;
}
.gallery-block .mask .slide{float:left;}
.gallery-block .mask .slide img{float:left;}
.gallery-block .textholder{
	background: rgba(85, 85, 85, 0.71);
	padding:11px 0;
	margin:0 0 0 -511px;
	position:absolute;
	bottom:0;
	left:50%;
	width:1022px;
	color:#fff;
	text-align:center;
	font-size:13px;
	line-height:16px;
}
.gallery-block .textholder .frame{
	width:939px;
	margin:0 auto;
}
.gallery-block .btn{
	font-size:17px;
	line-height:20px;
	font-weight:bold;
	color:#fff;
	background:#4080b2;
	display:inline-block;
	vertical-align:top;
	padding:5px 18px;
	margin: 0 0 0 -3px;
}
.chrome .gallery-block .btn{
	padding:6px 18px 4px;
}
.gallery-block .btn:hover{
	text-decoration:none;
	background:#56abed;
}
.gallery-block .textholder span{
	text-shadow: -1px 1px 1px #000;
	margin:0 9px 3px 17px;
	display:inline-block;
	vertical-align:bottom;
}
.gallery-block .pagination{
	position:absolute;
	bottom:-32px;
	left:50%;
	margin:0 0 0 -470px;
	width:940px;
	text-align:center;
	height:11px;
}
.gallery-block .pagination ul{
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 75px;
	padding:0;
	list-style:none;
}
.gallery-block .pagination li{
	float:left;
	padding:0 9px 0 10px;
}
.gallery-block .pagination a{
	display:block;
	width:9px;
	height:9px;
	background:#d5ddaa;
	border:1px solid #9f9f9f;
	overflow:hidden;
	text-indent:-9999px;
	text-align:left;
	border-radius:6px;
}
.gallery-block .pagination .active a,
.gallery-block .pagination a:hover{
	background:#91ac06;
	border:1px solid #979797;
	text-decoration:none;
}
/* main informative part styles */
#main{
	width:100%;
	padding:56px 0 77px;
}
#main:after{
	content:"";
	display:block;
	clear:both;
}
.ajax-holder{
	width:100%;
	position:relative;
}
.descktop .ajax-holder{overflow:hidden;}
.ajax-holder{
	content:"";
	display:block;
	clear:both;
}
.loader{
	position:absolute;
	bottom:20px;
	left:50%;
	margin:0 0 0 53px;
	z-index:10;
	display:none;
}
.ajax-sidebar .loader{
	position:absolute;
	margin:0 0 0 -22px;
	bottom:-85px;
	left:50%;
}
.ajax-holder.loading .loader,
.ajax-sidebar.loading .loader{display:block;}
.load-more{
	position:absolute;
	bottom:0;
	left:0;
	width:10px;
	height:1px;
	overflow:hidden;
	display:block;
	text-indent:-9999px;
}
.ajax-holder.hidden-box .load-more{display:none;}
.fixed-box.fixed{
	position:fixed;
	margin: -20px 0 0 -17px !important;
	padding:20px 17px 15px 17px !important;
	background:#fff;
	z-index:5;
}
/* main content styles */
#content{
	float:left;
	width:539px;
	border:1px solid #cdcdcd;
	background:#fff;
	padding:11px 12px 5px 32px;
}
.page #content{width:537px;}
#content .aligncenter{
	vertical-align:top;
	margin:0 0 8px 2px;
}
.page #content .block h1{
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	margin:0 -80px 5px -5px;
	color:#d9adc7;
}
.page #content .block h1 a:hover{color:#858585;}
#content .block{
	padding:30px 82px 5px 0;
	position:relative;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
}
#content .block:first-child{padding:16px 82px 5px 0;}
.btn-holder{
	width:100%;
	position:relative;
}
.page #content .block,
.page #content .block:first-child{padding:5px 77px 31px 9px;}
.page #content .info{
	margin:0 0 8px -4px;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	color:#808080;
}
.page #content .info a{font-weight:bold;}
.page #content .info a:hover{color:#858585;}
#content .block:after{
	content:"";
	position:absolute;
	top:0;
	left:-4px;
	width:502px;
	height:1px;
	background:#d5d5d5;
}
#content .block:first-child:after{background:none;}
#content .block .visual{position:relative;}
#content .block .visual img{vertical-align:top;}
#content .block .visual .mask{
	display:none;
	background:rgba(255, 255, 255, 0.29) url(../../images/ico-like.png) no-repeat 50% 50%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#content .block a:hover .mask{display:block;}
#content .block .visual-block{
	position:relative;
}
#content .block a span{
	margin:0 -5px 11px 0;
	display:inline-block;
	vertical-align:top;
}
/* carousel styles */
.carousel {
	position: relative;
	width:517px;
	padding:0 0 8px;
	overflow:hidden;
	margin: 0 0 0 -2px;
}
.carousel .mask {
	float:left;
	position: relative;
	overflow: hidden;
	width: 397px;
}
.carousel .mask .slideset {
	width: 99999px;
	float: left;
}
.carousel .mask .slide {
	width: 397px;
	float: left;
}
.carousel .mask .img-holder{
	height:95px;
	display:block;
	text-align:center;
}
.carousel .mask .block1{
	width:188px;
	height:135px;
	padding:0 9px 20px 0;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	float:left;
}
.carousel .mask .block1 a{
	padding:2px;
	width:182px;
	height:131px;
	display:block;
	color:#333;
}
.carousel .mask .block1 a:hover{background:#d9adc7;}
.carousel .mask .block1 img{vertical-align:top;}
.carousel .mask .block1 span{
	display:block;
	padding:2px 6px;
	height:33px;
	overflow:hidden;
}
.carousel .btn-prev,
.carousel .btn-next{
	float:left;
	width:49px;
	height:287px;
	background:url(../../images/btn-sprite.png) no-repeat -94px -906px;
	overflow:hidden;
	text-indent:-9999px;
	margin:0 17px 0 0;
}
.carousel .btn-prev:hover{background:#b0b0b0 url(../../images/btn-sprite.png) no-repeat -94px -906px;}
.carousel .btn-next{
	float:right;
	background:url(../../images/btn-sprite.png) no-repeat -259px -906px;
	margin:0;
}
.carousel .btn-next:hover{
	background:#b0b0b0 url(../../images/btn-sprite.png) no-repeat -259px -906px;
}
.social-block{
	width:575px;
	padding: 0 0 4px;
}
.social-block:after{
	content:"";
	display:block;
	clear:both;
}
.social-block .open-close1{
	float:left;
}
.social-block .opener{
	float:left;
	background:url(../../images/btn-sprite.png) no-repeat -344px -416px;
	width:77px;
	height:39px;
	overflow:hidden;
	text-indent:-9999px;
	margin:1px 2px 0 0;
}
.social-block .opener:hover{
	background-position:-344px -474px;
	text-decoration:none;
}
.social-block .open-close1 .slide{
	float:left;
	display:none;
}
.share-list{
	margin:0;
	padding:0;
	height:39px;
	list-style:none;
	float:left;
	border:2px solid #d9adc7;
	-webkit-box-shadow: 4px 3px 3px rgba(132, 131, 131, 0.3);
	box-shadow: 4px 3px 3px rgba(132, 131, 131, 0.3);
}
.share-list li{
	float:left;
	border-left:1px solid #e9e9e9;
}
.share-list li:first-child{border:none;}
.share-list a{
	display:block;
	background:url(../../images/btn-sprite.png) no-repeat -425px -300px;
	width:64px;
	height:39px;
	overflow:hidden;
	text-indent:-9999px;
}
.share-list .stumble{
	background-position:-425px -417px;
	width:64px;
}
.share-list .stumble:hover{
	background-position:-425px -475px;
	text-decoration:none;
}
.share-list .mail{
	background-position:-490px -417px;
	width:53px;
}
.share-list .mail:hover{
	background-position:-490px -475px;
	text-decoration:none;
}
.share-list .twitter{
	background-position:-396px -544px;
	width:55px;
}
.share-list .twitter:hover{
	background-position:-396px -607px;
	text-decoration:none;
}
.share-block{padding:13px 0 18px;}
.share-block img{vertical-align:top;}
.social-list3{
	margin:-2px -3px 0 0;
	padding:0;
	list-style:none;
	float:left;
}
.social-list3 li{
	float:left;
	padding:0 23px 0 0;
}
.social-list3 a{
	display:block;
	background:url(../../images/btn-sprite.png) no-repeat 0 -541px;
	width:135px;
	height:47px;
	overflow:hidden;
	text-indent:-9999px;
}
.social-list3 a:hover{
	background-position:0 -604px;
	text-decoration:none;
}
.social-list3 .pinterest{
	background-position:-158px -541px;
	width:136px;
}
.social-list3 .pinterest:hover{background-position:-158px -604px;}
.social-list2{
	margin:0;
	padding:3px 3px 0 0;
	list-style:none;
	float:left;
}
.social-list2 li{
	float:left;
	padding:0 9px 10px 0;
}
.social-list2 a{
	display:block;
	background:url(../../images/btn-sprite.png) no-repeat -3px -418px;
	width:104px;
	height:36px;
	overflow:hidden;
	text-indent:-9999px;
}
.social-list2 a:hover{
	background-position:-3px -476px;
	text-decoration:none;
}
.social-list2 .twitter{
	background-position:-116px -418px;
	width:102px;
}
.social-list2 .twitter:hover{background-position:-116px -476px;}
.social-list2 .pinterest{background-position:-227px -418px;}
.social-list2 .pinterest:hover{background-position:-227px -476px;}
#content .block .vote{
	position:absolute;
	left:100%;
	top:47px;
	padding:4px 0 0 18px;
}
#content .block .visual .vote{
	right:-75px;
	top:0;
	padding: 0 0 0 15px;
}
#content .block .vote .up{
	display:block;
	width:59px;
	height:56px;
	background:url(../../images/btn-sprite.png) no-repeat 0 -66px;
	overflow:hidden;
	text-indent:-9999px;
}
#content .block .vote .up:hover,
#content .block .vote.click-down .up.lightbox:hover,
#content .block .vote.click-up .up.lightbox:hover{background-position:-67px -66px;}
#content .block .vote.click-up .up{
	background:url(../../images/btn-sprite.png) no-repeat -67px -66px;
}
#content .block .vote.click-down .up{
	background:url(../../images/btn-sprite.png) no-repeat -312px -66px;
}
#content .block .vote .up.lightbox:active,
#content .block .vote.click-down .up.lightbox,
#content .block .vote.click-up .up.lightbox{
	background:url(../../images/btn-sprite.png) no-repeat  0 -66px;
}
#content .block .vote .down{
	display:block;
	width:59px;
	height:56px;
	background:url(../../images/btn-sprite.png) no-repeat 0 -122px;
	overflow:hidden;
	text-indent:-9999px;
}
#content .block .vote .down:hover,
#content .block .vote.click-up .down.lightbox:hover,
#content .block .vote.click-down .down.lightbox:hover{background-position:-67px -122px;}
#content .block .vote.click-up .down{
	background:url(../../images/btn-sprite.png) no-repeat 0 -122px;
}
#content .block .vote.click-down .down{
	background:url(../../images/btn-sprite.png) no-repeat -67px -122px;
}
#content .block .vote .down.lightbox:active,
#content .block .vote.click-up .down.lightbox,
#content .block .vote.click-down .down.lightbox{
	background:url(../../images/btn-sprite.png) no-repeat 0 -122px;
}
.social-list1{
	overflow:hidden;
	margin:0 0 0 -3px;
	padding:14px 0 0;
	list-style:none;
}
.social-list1 li{
	float:left;
	padding:0 12px 10px 0;
}
.social-list1 a{
	display:block;
	background:url(../../images/btn-sprite.png) no-repeat 0 -197px;
	width:49px;
	height:22px;
	overflow:hidden;
	text-indent:-9999px;
	margin:7px 0 0;
}
.social-list1 li:first-child{padding:0 17px 10px 0;}
.social-list1 a:hover{
	text-decoration:none;
	background-position:0 -243px;
}
.social-list1 .facebook{
	background-position:-66px -191px;
	width: 35px;
	height: 35px;
	margin:0;
}
.social-list1 .facebook:hover{background-position:-66px -237px;}
.social-list1 .twitter{
	background-position:-111px -191px;
	width: 33px;
	height: 34px;
	margin:0;
}
.social-list1 .twitter:hover{background-position:-111px -237px;}
.social-list1 .pinterest{
	background-position:-158px -191px;
	width: 34px;
	height: 35px;
	margin:0;
}
.social-list1 .pinterest:hover{background-position:-158px -237px;}
.social-list1 .mail{
	background-position:-209px -191px;
	width: 35px;
	height: 34px;
	margin:0 0 0 6px;
}
.social-list1 .mail:hover{background-position:-209px -237px;}
/* sidebar styles */
#sidebar{
	float:right;
	width:301px;
}
.page #sidebar{margin: 0;}
#sidebar .scrollable-area{
	height: 1190px;
	overflow: auto;
	width: 301px !important;
	background:#fff;
}
#sidebar .scroll-area{
	height:1200px;
}
#sidebar .holder-area{
	background:#fff;
	padding:6px 0 8px;
}
.paging{
	background:#e1e1e1;
	padding:14px 37px;
	margin:0 0 8px;
	overflow:hidden;
}
.fixed-holder .paging{
	margin:13px 0 8px;
}
.paging.fixed{
	position:fixed;
	z-index:4;
	width:227px;
	top: 49px;
	margin-bottom:0 !important;
}
.paging .btn-prev{
	float:left;
	background:url(../../images/btn-sprite.png) no-repeat -392px 0;
	width: 62px;
	padding:61px 0 0;
	overflow:hidden;
	text-transform:uppercase;
	text-align:center;
	color:#333;
	font:12px/16px 'franklin_gothic_mediumregular', sans-serif;
}
.paging .btn-prev:hover{background-position:-392px -122px;}
.paging .btn-next{
	float:right;
	background:url(../../images/btn-sprite.png) no-repeat -491px 0;
	width: 61px;
	padding:61px 0 0;
	overflow:hidden;
	text-transform:uppercase;
	text-align:center;
	color:#333;
	font:12px/16px 'franklin_gothic_mediumregular', sans-serif;
}
.paging .btn-next:hover{background-position:-491px -122px;}
#sidebar .block{
	background:#fff;
	padding:0 16px 0 17px;
	overflow:hidden;
}
#sidebar .block:first-child{padding:12px 16px 0 17px;}
.page #sidebar .block{padding:10px 16px 13px 17px;}
#sidebar .block1{
	font-size:9px;
	line-height:12px;
	color:#6f6f6f;
	margin:0 0 19px;
}
#sidebar .block1 span{
	display:block;
	padding: 0 3px;
}
.page #sidebar .block1 span{padding:0;}
#sidebar img{vertical-align:top;}
#sidebar h2{
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	color:#676767;
	margin:0 0 13px;
	text-transform:uppercase;
}
.ajax-sidebar{
	width:100%;
	position:relative;
}
.items-list{
	margin:0;
	padding:0;
	list-style:none;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
}
.items-list li{
	vertical-align:top;
	padding:0 0 12px;
}
.items-list a{color:#d9adc7;}
.items-list a:hover{
	text-decoration:none;
	color:#626264;
}
.page .items-list a:hover{color:#858585;}
#sidebar .items-list img{
	display:block;
	margin: 0 auto 2px;
	max-width: 100%;
}
/* footer styles */
#footer{
	background:#fff;
	padding:45px 0 30px;
	width:100%;
	text-align:center;
	font-size:13px;
	line-height:23px;
	font-weight:bold;
}
.footer-holder{
	width:939px;
	margin:0 auto;
}
.promobox{margin:0 0 14px;}
.promobox img{vertical-align:top;}
#footer .holder,
#footer .holder a{color:#d9adc7;}
#footer .holder a:hover{
	color:#5e5e5e;
	text-decoration:none;
}
/* navigation styles */
.add-nav{
	display:inline-block;
	vertical-align:top;
}
.add-nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
.add-nav li{
	display:inline-block;
	vertical-align:top;
	padding:0 5px 10px;
}
.copyright{
	display:inline-block;
	vertical-align:top;
	margin:0 -5px 0 5px;
}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
/* lightbox styles */
div.lightbox {
	padding: 20px;
	width: 642px;
	color:#000;
	font-size:13px;
	line-height:16px;
}
div.lightbox p{margin:0 0 20px;}
div.lightbox#popup1{
	padding:5px 13px;
	width: 656px;
}
div.lightbox#popup2{
	width:594px;
	padding:58px 55px;
}
div.lightbox#popup2 p{margin:0 0 3px;}
div.lightbox .or{
	display:block;
	margin:-16px 0 27px;
	font-size:14px;
}
div.lightbox .or a{
	font-weight:bold;
}
div.lightbox h2,
div.lightbox .head {
	font-size:35px;
	line-height:38px;
	font-weight:bold;
	margin:0 0 10px;
	color:#010101;
	display:block;
}
.upload-block{
	margin: -5px 0 17px;
	overflow:hidden;
	position:relative;
}
.upload-block .block{
	font-size:21px;
	line-height:24px;
	color:#000;
	text-align:center;
	float:left;
	position:relative;
}
.upload-block .block a{
	color:#000;
	display:block;
	width:265px;
	height:221px;
	padding:25px 10px;
}
.upload-block .block img{vertical-align:top;}
.upload-block .block span{
	display:block;
	margin:0 0 30px;
}
.upload-block .block .mask{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgb(250,158,170);
	background: transparent\9;
	background:rgba(250,158,170,0.53);
}
.upload-block .block a:hover .mask{display:block;}
.upload-block .sep{
	float:left;
	font-size:43px;
	line-height:47px;
	font-weight:bold;
	color:#000;
	padding:98px 17px 0;
}
div.lightbox .holder{
	background:url(../../images/img14.jpg) no-repeat 373px 0;
	padding:10px 320px 0 0;
	min-height:300px;
}
div.lightbox .holder1{
	background:url(../../images/img15.jpg) no-repeat 340px 20px;
	padding:0 320px 0 0;
	min-height:300px;
}
div.lightbox .visual1{padding:50px 0 10px;}
div.lightbox .visual1 img{vertical-align:top;}
.survey{padding:0 0 40px;}
.survey .row{
	width:365px;
	padding:0 0 30px;
}
.login-form{
	padding:6px 0 0;
}
.login-form .row{
	padding:0 0 11px;
	width:203px;
}
.holder1 .login-form .row{padding:0 0 20px;}
.login-form .row.long{
	width:347px;
	padding:0 0 40px;
}
.login-form .row label,
.survey .row label{
	display:inline-block;
	vertical-align:top;
	margin:0 0 8px;
}
.survey .row label{margin:0 0 10px;}
.login-form .row input,
.survey .row input{
	display:block;
	border:1px solid #000;
	background:#fff;
	width:181px;
	padding:3px 10px 4px;
	margin:0;
	font-size:13px;
	line-height:16px;
	overflow:hidden;
	-webkit-box-shadow: 0 0 1px #b4b4b4 inset;
	box-shadow: 0 0 2px #b4b4b4 inset;
}
.login-form .row.long input{width:325px;}
.survey .row input{width:343px;}
.login-form .row a{
	color:#0531ac;
	display:inline-block;
	vertical-align:top;
	font-size: 9px;
	margin: 0;
}
.login-form .row a:hover{
	text-decoration:none;
	color:#626264;
}
.login-form input[type="submit"],
.survey input[type="submit"]{
	background:#d9adc7;
	border:0;
	border-radius:3px;
	color:#fff;
	font-size:15px;
	line-height:18px;
	padding:0;
	margin:0;
	width:72px;
	height:33px;
	overflow:hidden;
	display:block;
	cursor:pointer;
}
.survey input[type="submit"]{
	width:80px;
	height:36px;
}
.login-form input[type="submit"]:hover,
.survey input[type="submit"]:hover{
	cursor:pointer;
	background:#626264;
}
.btn-facebook{
	background:url(../../images/btn-sprite.png) no-repeat 0 -280px;
	width:301px;
	height:58px;
	overflow:hidden;
	text-indent:-9999px;
	margin:0 0 20px;
	display:block;
}
.btn-facebook:hover{
	background-position:0 -344px;
}
div.lightbox#popup3{
	font-size:14px;
	line-height:17px;
	width:594px;
	padding:55px;
}
div.lightbox#popup3 p span{display:block;}
div.lightbox#popup3 p span a{font-weight:bold;}
div.lightbox#popup4{
	font-size:16px;
	line-height:19px;
	width:594px;
	padding:55px;
}
div.lightbox#popup4 .survey{
	font-size:15px;
	line-height:18px;
}
div.lightbox#popup5{
	font-size:14px;
	line-height:17px;
	width:594px;
	padding:55px;
}
/* poll styles */
.poll{
	width:908px;
	margin:0;
	overflow:hidden;
	padding:51px 15px 14px 14px;
}
.poll .column{
	float:left;
	width:619px;
	padding: 2px 0 0;
}
.poll .column .block{
	background:#fff;
	border:1px solid #bdbdbd;
	padding:16px 12px 15px;
	margin:0 0 16px;
	position:relative;
}
.poll .column .block:first-child{
	margin:0 3px 15px -1px;
}
.poll .column .block img{vertical-align:top;}
.poll input[type="submit"]{
	background:#d9adc7;
	border:0;
	border-radius:5px;
	color:#fff;
	font-size:17px;
	line-height:20px;
	padding:0;
	margin:0 0 0 auto;
	width:92px;
	height:35px;
	overflow:hidden;
	display:block;
	cursor:pointer;
}
.poll input[type="submit"]:hover{
	background:#626264;
	cursor:pointer;
}
.poll .area{
	width:521px;
	position:relative;
}
.poll .area.drag{
	position:absolute;
	top:84px;
	left:11px;
	width:448px;
	height:59px;
}
.poll .area.drag .drag1{
	background:url(../../images/btn-sprite.png) no-repeat -280px -73px;
	width:21px;
	height:22px;
	position:absolute;
	top:3px;
	right:10px;
	overflow:hidden;
	text-indent:-9999px;
}
.poll textarea{
	background:url(../../images/bg-form.png) no-repeat;
	border:0;
	width:511px;
	min-width:511px;
	max-width:511px;
	height:39px;
	min-height:39px;
	max-height:39px;
	padding:5px;
	margin:0;
	overflow:auto;
	font-size:12px;
	line-height:15px;
	color:#c7c7c7;
}
.poll .area.drag textarea{
	background:url(../../images/bg-form.png) no-repeat 0 -71px;
	border:0;
	width:438px;
	min-width:438px;
	max-width:438px;
	height:49px;
	min-height:49px;
	max-height:49px;
}
.poll .aside{
	float:right;
	width:281px;
	padding:0 0 15px;
}
.choose-block{
	font-size:9px;
	line-height:12px;
	color:#333;
	padding:0 0 35px 8px;
}
.choose-block span{
	display:block;
	margin: 0 0 1px;
}
.select-block{
	width:100%;
	position:relative;
	margin:0 0 15px;
}
.select-block .open{
	background:url(../../images/btn-sprite.png) no-repeat -149px -67px;
	width:98px;
	height:35px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	margin:0 0 0 3px;
	position:relative;
	z-index:9;
}
.select-block .drop{
	position:absolute;
	top: 61px;
	left: 418px;
	background:#b0b0b0;
	padding:2px 2px 0;
	width:58px;
	display:none;
	z-index:5;
	-webkit-box-shadow: -3px 3px 3px #000;
	box-shadow: -3px 3px 3px #000;
}
.select-block.active .drop{display:block;}
.select-block .drop ul{
	margin:0;
	padding:0;
	list-style:none;
}
.select-block .drop li{
	width:100%;
	vertical-align:top;
	padding:0 0 2px;
}
.select-block .drop a{
	display:block;
	width:100%;
	height:21px;
	background:#000;
	overflow:hidden;
	text-indent:-9999px;
}
.select-block .drop .bg1{background:#464646;}
.select-block .drop .bg2{background:#898989;}
.colors-list{
	background:#fff;
	display:inline-block;
	vertical-align:top;
	border:1px solid #bbb;
	padding:2px;
	margin:0;
	list-style:none;
}
.colors-list li{
	float:left;
	padding:0 0 0 1px;
}
.colors-list a{
	display:block;
	width:21px;
	height:65px;
	background:#f7e2e4;
	text-indent:-9999px;
	overflow:hidden;
}
.colors-list .bg2{background:#c1d8d2;}
.colors-list .bg3{background:#f7ebc6;}
.colors-list .bg4{background:#f9d4c4;}
.colors-list .bg5{background:#e7d5e1;}
.colors-list .bg6{background:#43888e;}
.colors-list .bg7{background:#7dc4ca;}
.colors-list .bg8{background:#faeec8;}
.colors-list .bg9{background:#fac8be;}
.colors-list .bg10{background:#fa9eaa;}
.tabs-area{
	width:100%;
	position:relative;
}
.tabset{
	margin:0;
	padding:0;
	list-style:none;
	font-size:10px;
	line-height:13px;
	background:#dfdddd;
	width:100%;
	overflow:hidden;
}
.tabset li{
	float:left;
}
.tabset a{
	display:block;
	color:#000;
	padding:2px 18px;
}
.tabset li:first-child a{padding:2px 5px;}
.tabset a:hover,
.tabset .active a{
	color:#000;
	background:#7f7f7f;
}
.view{
	font-size:13px;
	line-height:16px;
	padding:7px 0 27px;
	text-align:right;
}
.view a{color:#000;}
.view a em{display:none;}
.view.expanded a em{
	display:inline;
	font-style:normal;
}
.view.expanded a span{display:none;}
.tab-content{
	background:#fff;
	position:relative;
}
.tab-content .prev{
	position:absolute;
	top:5px;
	right:4px;
	width: 12px;
	height: 6px;
	background:url(../../images/btn-sprite.png) no-repeat -183px -1394px;
	overflow:hidden;
	text-indent:-9999px;
	z-index:9;
}
.tab-content .next{
	position:absolute;
	bottom:6px;
	right:4px;
	width: 12px;
	height: 6px;
	background:url(../../images/btn-sprite.png) no-repeat -297px -1394px;
	overflow:hidden;
	text-indent:-9999px;
	z-index:9;
}
.items-holder{
	border:1px solid #bbb;
	padding:0 0 14px 3px;
}
.items-holder.expanded{
	margin: 0 0 0 -433px;
	width:712px;
	background:#fff;
}
.items-holder .block{
	display:inline-block;
	vertical-align:top;
	width:87px;
	margin:0 -3px 0 0;
	text-align:center;
	position:relative;
}
.items-holder .hidden{display:none;}
.items-holder .visible{display:inline-block;}
.items-holder.expanded .expanded-hidden{display:none;}
.items-holder.expanded .expanded-visible{display:inline-block;}
.items-holder .block a{
	display:block;
	white-space:nowrap;
	width:87px;
}
.items-holder .block a:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	vertical-align:middle;
}
.items-holder .block img{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}
.items-holder .block .mask{
	display:none;
	background:rgb(250,158,170);
	background: transparent\9;
	background:rgba(250,158,170,0.53);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.items-holder .block a:hover .mask{display:block;}
.poll .column .block .img-holder{
	padding:191px 75px 37px;
}
.tools-list{
	padding:0;
	list-style:none;
	font-size:10px;
	line-height:13px;
	min-width:367px;
	min-height:30px;
	margin:0;
	overflow:hidden;
	border:1px dotted #1b1b1b;
	position:absolute;
	right:28px;
	top:6px;
}
.tools-list li{
	float:left;
	height:30px;
	white-space:nowrap;
}
.tools-list li:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.tools-list a{
	color:#616161;
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
	margin:0 0 0 8px;
	overflow:hidden;
	padding:2px 14px 2px 20px;
	position:relative;
	overflow:hidden;
}
.tools-list a:after{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	background:url(../../images/btn-sprite.png) no-repeat -8px -678px;
	width:14px;
	height:13px;
	overflow:hidden;
	margin:-6px 0 0;
}
.tools-list a:hover{
	text-decoration:underline;
}
.tools-list a.flip{
	padding:2px 11px 2px 20px;
	margin:0;
}
.tools-list a.flip:after{
	background:url(../../images/btn-sprite.png) no-repeat -78px -678px;
	width:14px;
	height:15px;
	margin:-7px 0 0;
}
.tools-list a.flop{
	padding:2px 18px 2px 20px;
	margin:0;
}
.tools-list a.flop:after{
	background:url(../../images/btn-sprite.png) no-repeat -121px -678px;
	width:15px;
	height:16px;
	margin:-7px 0 0;
}
.tools-list a.clone{
	padding:2px 16px 2px 20px;
	margin:0;
}
.tools-list a.clone:after{
	background:url(../../images/btn-sprite.png) no-repeat -176px -678px;
	width:15px;
	height:16px;
	margin:-7px 0 0;
}
.tools-list a.forward{
	padding:1px 18px 1px 13px;
	margin:0;
}
.tools-list a.forward:after{
	background:url(../../images/btn-sprite.png) no-repeat -236px -680px;
	width:9px;
	height:10px;
	margin:-5px 0 0;
}
.tools-list a.backwards{
	padding:1px 0 0 10px;
	margin:0;
}
.tools-list a.backwards:after{
	background:url(../../images/btn-sprite.png) no-repeat -306px -683px;
	width:9px;
	height:10px;
	margin:-5px 0 0;
}
::-webkit-input-placeholder {
	color: #c7c7c7;
}
:-moz-placeholder {
	color: #c7c7c7;
}
::-moz-placeholder {
	color: #c7c7c7;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #c7c7c7;
}
/* ---------------------------------------------------------
   4. Fancybox styles
   ---------------------------------------------------------*/
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(../../images/fancybox/fancybox.png);
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}
#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	border:1px solid #333;
	-webkit-box-shadow: 0 0 1px #d5d5d6 inset;
	box-shadow: 0 0 2px #d5d5d6 inset;
}
#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0 solid #fff;
}
#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}
#fancybox-close {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 20px;
	height: 20px;
	background: transparent url(../../images/popup_close.png) no-repeat;
	cursor: pointer;
	z-index: 1103;
	display: none;
}
#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}
#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}
#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}
#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url(../../images/fancybox/blank.gif);
	z-index: 1102;
	display: none;
}
#fancybox-left {
	left: 0;
}
#fancybox-right {
	right: 0;
}
#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}
#fancybox-left-ico {
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -30px;
}
#fancybox-right-ico {
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}
#fancybox-left:hover span {
	left: 20px;
}
#fancybox-right:hover span {
	left: auto;
	right: 20px;
}
.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 0;
	height: 0;
	z-index: 1001;
}
#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url(../../images/fancybox/fancybox-x.png);
}
#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -162px;
}
#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url(../../images/fancybox/fancybox-y.png);
	background-position: -20px 0px;
}
#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -182px; 
}
#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url(../../images/fancybox/fancybox-x.png);
	background-position: 0px -20px;
}
#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -142px;
}
#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url(../../images/fancybox/fancybox-y.png);
}
#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url(../../images/fancybox/fancybox.png);
	background-position: -40px -122px;
}
#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}
.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}
.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}
.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}
#fancybox-title-over {
	padding: 10px;
	background-image: url(../../images/fancybox/fancy_title_over.png);
	display: block;
}
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}
#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}
#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}
#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(../../images/fancybox/fancybox.png) -40px -90px no-repeat;
}
#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url(../../images/fancybox/fancybox-x.png) 0px -40px;
}
#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(../../images/fancybox/fancybox.png) -55px -90px no-repeat;
}
/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg { background: transparent !important; }
/* ---------------------------------------------------------
   5. Custom scroll styles
   ---------------------------------------------------------*/
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom scrollbars styles */
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	background:#fff;
}
.scrollable-area-wrapper .vscrollbar {
	position: absolute;
	top:6px;
	right: 4px;
	width: 7px;
	height:1175px !important;
}
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down {
	background: #777;
	width: 7px;
	height: 0;
	float: left;
}
.scrollable-area-wrapper .vscroll-line {
	width: 7px;
	float: left;
	height:1175px !important;
}
.scrollable-area-wrapper .vscroll-slider {
	background: #959595;
	width: 7px;
	height: 130px !important;
	border-radius:4px;
}
@media ( -webkit-min-device-pixel-ratio : 1.5 ), ( min-resolution : 144dpi ){
	.social-list a{
		background:url(../../images/social-ico2?.png) no-repeat;
		background-size: 76px 52px;
		width:24px;
		height:24px;
	}
	.social-list a:hover{
		background:url(../../images/social-ico2?.png) no-repeat 0 -28px;
		background-size: 76px 52px;
	}
	.social-list .twitter{
		background:url(../../images/social-ico2?.png) no-repeat -25px 0;
		background-size: 76px 52px;
		width:24px;
		height:24px;
	}
	.social-list .twitter:hover{
		background:url(../../images/social-ico2?.png) no-repeat -25px -28px;
		background-size: 76px 52px;
	}
	.social-list .pinterest{
		background:url(../../images/social-ico2?.png) no-repeat  -50px 0;
		background-size: 76px 52px;
		width:24px;
		height:24px;
	}
	.social-list .pinterest:hover{
		background:url(../../images/social-ico2?.png) no-repeat -50px -28px;
		background-size: 76px 52px;
	}
}