.container .btn{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcde8', endColorstr='#fac4e4',GradientType=0 );}
.gallery-block .textholder{background:#555;}
#content .block .visual .mask{background:url(../images/ico-like.png) no-repeat 50% 50%;}
.poll textarea{color:#c7c7c7;}
.items-holder .block .mask,
.upload-block .block .mask{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#87fa9eaa,endColorstr=#87fa9eaa);
	zoom: 1;
}
