@media only screen and (min-width: 0px)
{
    html, body
    {
        font-size:14px;
        background:#eeeeee;
    }

    h1, h2, h3, h4, h5, h6
    {
        font-weight:normal;
        line-height:none;
    }

    h1
    {
        font-size:21px;
        color:#dd7bae;
    }

    h2
    {
        font-size:20px;
    }

    h3
    {
        font-size:19px;
    }

    h4
    {
        padding:7px 0px 16px 0px;
        font-size:18px;
        font-weight:bolder;
        text-decoration:underline;
    }

    h5
    {
        font-size:17px;
        font-weight:bolder;
    }

    h6
    {
        font-size:16px;
        font-weight:bolder;
    }

    p
    {
        padding:7px 0px 15px 0px;
    }

    ul, ol
    {
        padding:8px 0px 7px 20px;
    }

    a
    {
        color:#1262aa;
        text-decoration:none;
    }

    a:hover
    {
        color:#dd7bae;
        text-decoration:underline;
    }

    div.center-box
    {
        min-width:640px;
        max-width:1075px;
        margin:0 auto;
        position:relative;
    }

    /* ----- header ----- */
    header#header
    {
        padding:19px 0px 32px 0;
        background:none;
        -webkit-box-shadow:#acabab 0px 0px 0px;
        -moz-box-shadow:#acabab 0px 0px 0px;
        box-shadow:#acabab 0px 0px 0px;
        position:relative;
        z-index:10;
    }

    header#header .logo {
        width: 332px;
        position:absolute;
        top:17px;
        left:-7px;
    }


    aside#header-bar
    {
        width:100%;
        margin:0px 0px 11px 0px;
        position:relative;
        overflow:hidden;
    }

    aside#header-bar img
    {
        display:block;
    }

    nav.main-menu
    {
        padding:0px 0px 14px 0px;
        border-top:1px solid #aeaeae;
        border-bottom:1px solid #aeaeae;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:11px;
        line-height:13px;
        color:#FFF;
        float:none;
    }

    nav.main-menu div#mobile-nav
    {
        width:728px;
        float:left;
        position:relative;
    }

    nav.main-menu ul
    {
        width:728px;
        padding:0px 0px 0px 0px;
        list-style:none;
        display:block;
        position:relative;
        top:0px;
        left:0px;
    }

    nav.main-menu ul li
    {
        width:104px;
        padding:0px 0px 0px 0px;
        float:left;
    }

    nav.main-menu ul li a
    {
    	display:block;
        width:104px;
        height:35px;
        padding:0px 0px 0px 0px;
        display:table-cell;
        vertical-align:middle;
        border-right:1px solid #FFF;
        border-top:none;
        background:#1a1a1a;
        text-align:center;
        color:#FFF;
        text-decoration:none;
    }

    nav.main-menu ul li a:hover,
    nav.main-menu ul li.active a
    {
        background:#99ccff;
    }

    nav.main-menu a.btn-shop
    {
        width:70px;
        height:35px;
        padding:0px 0px 0px 0px;
        display:table-cell;
        vertical-align:middle;
        float:none;
        background:#99ccff;
        text-align:center;
        color:#FFF;
        text-decoration:none;
        font-size:12px;
        line-height:15px;
    }

    nav.main-menu a.btn-shop:hover
    {
        background:#1a1a1a;
    }

    nav.sub-menu
    {
        padding:4px 0px 0px 0px;
        float:right;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:13px;
        line-height:15px;
        color:#808080;
    }

    nav.sub-menu ul
    {
        padding:0px 0px 0px 0px;
        list-style:none;
    }

    nav.sub-menu ul li
    {
        padding:0px 6px 0px 23px;
        float:left;
    }

    nav.sub-menu ul li a
    {
        color:#808080;
        text-decoration:none;
    }

    nav.sub-menu ul li a:hover
    {
        color:#666666;
        text-decoration:none;
    }
    /* ----- end header ----- */


    /* ----- contant ----- */
    section#content
    {
        padding:0px 0px 40px 0px;
        position:relative;
        z-index:2;
    }

    /* ---- sidebar ---- */
    aside#sidebar
    {
        width: 249px;
        padding:5px 2% 0px 0px;
        float:right;
        overflow: hidden;
    }

    section.widget-box
    {
        padding:21px 0px 21px 0px;
        max-width: 249px;
    }

    aside#mobile-ads section.widget-box
    {
        max-width: 100%;
    }


    section.widget-box h3
    {
        font-family:Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#1e1e1e;
    }

    section.widget-search
    {
        padding:23px 0px 23px 0px;
    }

    section.widget-share
    {
        padding:10px 0px 10px 0px;
    }

    section.widget-share a.btn-facebook
    {
        width:88.3%;
        margin:0 auto;
        margin-bottom:25px;
        display:block;
    }

    section.widget-share ul
    {
        padding:15px 0px 15px 1.6129%;
        list-style:none;
        border:1px solid #c2c2c2;
    }

    section.widget-share ul li
    {
        width:42.3387%;
        padding:0px 7px 0px 7px;
        float:left;
        position:relative;
        overflow:hidden;
    }

    section.widget-share ul li:first-child
    {
        width:49.19%;
        padding:0px 0px 12px 0px;
        margin:0 auto;
        float:none;
    }

    section.widget-share img
    {
        display:block;
    }

    section.widget-share iframe
    {
        float:left;
    }

    section.widget-posts
    {
        padding:11px 0px 0px 0px;
    }

    section.widget-posts h3
    {
        padding:0px 0px 0px 0px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#000000;
    }

    section.widget-posts ul
    {
        padding:6px 0px 0px 0px;
        list-style:none;
        color:#4f4f4f;
        font-size:14px;
        line-height:16px;
    }

    section.widget-posts ul li
    {
        padding:13px 0px 0px 0px;
        clear:both;
    }

    section.widget-posts img
    {
        width:44%;
        margin:0px 3% 0px 0px;
        display:block;
        float:left;
        border:3px solid #FFF;
    }

    section.widget-posts figcaption
    {
        width:48%;
        padding:4px 0px 0px 0px;
        float:left;
    }

    section.widget-posts a,
    section.widget-posts a:hover
    {
        color:#4f4f4f;
        text-decoration:none;
    }

    /* ---- end sidebar ---- */

/* ---- app banner ----- */



#app-banner {
	font-family: "Franklin Gothic Medium", Arial, sans-serif;
	padding: 10px 0px;
	height: 125px;
	width: 100%;
	background-color: rgba(238, 238, 238, 0.7);
	position: fixed;
	bottom: 0px;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	left: 0px;
	z-index: 20;
	-webkit-backface-visibility: hidden;
}

#app-banner-overall-link {
	display: block;
	right: 20px;
	height: 114px;
	position: absolute;
	left: 70px;
	z-index: 21;
    -webkit-backface-visibility: hidden;
}

#app-banner-close-btn {
	position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1.0;
	margin-top: 30px;
	margin-left: 20px;
    -webkit-backface-visibility: hidden;	
}


#app-banner-icon {
	position: absolute;
	width: 100px;
	height: 100px;
    opacity: 1.0;
	margin-top: 10px;
	margin-left: 90px;
    -webkit-backface-visibility: hidden;
}


#app-banner-device h3 {
	font-size: 32px;
	position: absolute;
	margin-left: 220px;
	padding-top: 35px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
    opacity: 1.0;
	-webkit-font-smoothing:antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
}


#app-banner-store p {
	font-family: "Helvetica Light", Arial, sans-serif;
	font-size: 24px;
	position: absolute;
	margin-left: 220px;
	margin-top: 60px;
    opacity: 1.0;
	color: #777;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	-webkit-font-smoothing:antialiased;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
}
	
	

#app-banner-view-button {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50px;
    font-size: 24px;
    text-decoration: none;
    background-color: #08f;
    line-height: 21px;
    height: 20px;
    width: 60px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 rgba(255,255,255,0.7),0 1px 0 rgba(255,255,255,0.5) inset;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}



/* ---- end app banner ----- */


    /* ---- left-page ---- */
    div.left-page
    {
        min-width: 450px;
        width: 72%;
        padding:39px 0px 20px 0px;
        border:1px solid #e4e4e4;
        background:#ffffff;
        float:left;
        -moz-border-radius:15px;
        -webkit-border-radius:15px;
        -khtml-border-radius:15px;
        border-radius:15px;
    }

    body.page div.left-page
    {
        min-width: 550px;
    }

    article.small-post
    {
        padding:0px 0px 34px 0px;
        margin:0px auto 47px auto;
        border-bottom:1px solid #b3b3b3;
        position:relative;
        font-size:11px;
        line-height:15px;
        width:100%;
        max-width: 690px;
        min-width: 450px;
    }

    article.submit-post.small-post
    {
        border-bottom:none;
    }

    .compact article.small-post {
        width: 450px;
    }

    article.small-post figure
    {
        width:449px;
        padding:0px 0px 0px 0px;
        float:left;
    }

    article.small-post div.sticky-area
    {
        width:220px;
        padding:10px 0px 0px 0px;
        float:right;
    }
    .compact article.small-post div.sticky-area {
        width: 100%;
    }
    article.small-post h2
    {
        padding:0px 0px 15px 0px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:20px;
        font-weight:normal;
        line-height:normal;
        color:#dd7bae;
    }

    article.small-post h2 a,
    article.small-post h2 a:hover
    {
        color:#dd7bae;
        text-decoration:none;
    }

    article.small-post p
    {
        padding:3px 6.81% 0px 0px;
    }

    article.small-post div.sticky-area a.btn-more,
    article.small-post div.sticky-area a.btn-more:hover
    {
        float:right;
        margin:0px 6.81% 0px 0px;
        color:#d2b8df;
        text-decoration:none;
    }

    article.small-post footer
    {
        width:95.45%;
        margin:0px 0px 17px 0;
        border-bottom:1px solid #e4e4e4;
        border-left:1px solid #e4e4e4;
        -moz-border-radius:15px;
        -webkit-border-radius:15px;
        -khtml-border-radius:15px;
        border-radius:15px;
        background:#eeeeee;
        position:relative;
        overflow:hidden;
        font-family:Arial, Helvetica, sans-serif;
        font-size:7px;
        text-transform:uppercase;
        line-height:13px;
    }

    article.small-post footer table
    {
        width:100%;
        border-collapse:collapse;
        border:none;
    }

    article.small-post footer table td
    {
        height:25px;
        width:100px;
        padding:9px 0px 6px 3px;
        border:none;
        border-left:1px solid #d8d8d8;
        vertical-align:top;
    }

    article.small-post footer table td.last-cell
    {
        min-width:80px;
    }

    article.small-post footer table td.border-none
    {
        border:none;
        border-left:none;
    }

    article.small-post footer table td.border-bottom
    {
        border-bottom:1px solid #d8d8d8;
        text-align:center;
    }

    article.small-post footer a,
    article.small-post footer a:hover
    {
        color:#3d5aa2;
        text-decoration:none;
    }



    article.small-post footer .stButton
    {
        margin:0px !important;
    }

    article.small-post footer span.st_tumblr_hcount span.stArrow
    {
        position:relative;
        top:-3px;
    }
    /*
    article.small-post footer span.st_tumblr_hcount span.stButton_gradient
    {
        width:62px !important;
        height:20px !important;
        padding:0px !important;
        margin:0px !important;
        display:block !important;
        background:0px 0px url(../img/share_2.png) no-repeat !important;
        border:none !important;
        position:relative !important;
        float:left !important;
        filter:progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    }

    article.small-post footer span.st_tumblr_hcount span.stButton_gradient img,
    article.small-post footer span.st_tumblr_hcount span.stButton_gradient span.chicklets.tumblr
    {
        display:none !important;
        text-indent:-9999em !important;
        position:relative !important;
        overflow:hidden !important;
    }

    article.small-post footer span.st_tumblr_hcount span.stButton_gradient.stHBubble
    {
        width:auto !important;
        min-width:15px !important;
        height:20px !important;
        padding:0px !important;
        margin:0px !important;
        margin-left:3px !important;
        border:1px solid #bfbfbf !important;
        display:block !important;
        background:none !important;
        position:relative !important;
        float:left !important;
        line-height:20px;
        text-align:center !important;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5',endColorstr='#ffffff',GradientType=0, enabled=true) !important;
    }
    */
    article.small-post img
    {
        display:block;
    }

    article.page-post
    {
        padding:36px 0 75px 0;
        width: 543px;
        margin:0 auto;
        line-height:22px;
    }


    article.single-post
    {
        padding:31px 0px 31px 0px;
        margin:0 auto;
        font-size:11px;
        line-height:15px;
        color:#000000;
        width: 449px;
    }

    article.single-post h1
    {
        padding:0px 0px 17px 0px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:22px;
        font-weight:normal;
        line-height:normal;
        color:#dd7bae;
    }

    article.single-post p
    {
        padding:0px 0px 26px 0px;
        clear:both;
        position:relative;
        top:0px;
    }

    article.single-post p img
    {
        display:block;
    }

    article.single-post ul.share-list,
    article.single-post ul.share-list-bottom
    {
        width:auto;
        height:60px;
        padding:0px 0px 1px 0px;
        list-style:none;
        position:relative;
        overflow:hidden;
        border:none;
        top:0px;
        left:-4px;
    }

    article.single-post ul.share-list li,
    article.single-post ul.share-list-bottom li
    {
        padding:0px 1px 0px 0px;
        float:left;
        height: 22px;
        position:relative;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        webkit-transform-origin: left top;
    }
    article.single-post ul.share-list li.fckn-pinit,
    article.single-post ul.share-list-bottom li.fckn-pinit
    {
    	width: 70px;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		margin-top: 2px;
		margin-left:10px;
    }
    article.single-post ul.share-list li.stumbla,
    article.single-post ul.share-list-bottom li.stumbla
    {
    	margin-left: 15px;
		-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		margin-top:3px;
		width:73px;
    }
    article.single-post ul.share-list li.no-compact,
    article.single-post ul.share-list-bottom li.no-compact
    {
    	margin-left: 9px;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		margin-top:2px;
		width:73px;
    }
    article.single-post ul.share-list li .st_twitter_hcount,
    article.single-post ul.share-list-bottom li .st_twitter_hcount
    {
		margin-left:10px;
    }

    article.single-post figure
    {
        padding:0px 0px 11px 0px;
    }

    article.single-post footer
    {
        padding:0px;
        font-size:14px;
        line-height:22px;
    }

    article.single-post footer p
    {
        padding:0px 0px 22px 0px;
    }


    .fixed-block {
        width: 730px;
        padding:32px 0px 0px 0px;
    }
    /* ---- end left-page ---- */
    /* ----- end contant ----- */
    article.small-post figure a.btn-more,
    div.browse-item,
    .compact .compact-only,
    .compact-only,
    div.facebook-comment-container a.fb-comments-toggle
    {
        display:none;
    }

    article.small-post div.sticky-area footer,
    article.small-post div.sticky-area p,
    article.small-post div.short-content,
    article.small-post div.sticky-area a.btn-more,
    aside#sidebar,
    aside#header-bar,
    nav.sub-menu,
    nav.main-menu br,
    article.single-post div.facebook-comment-container
    {
        display:block;
    }

    .compact article.small-post div.sticky-area a.btn-more
    {
        display:none;
    }

    aside#header-bar
    {
        height: 90px;
    }
    aside#header-bar section
    {
        padding: 0px;
    }

    div.left-page,
    article.small-post footer
    {
        behavior: url(../js/PIE.htc);
    }

    div#emf-container
    {
        width:470px;
        padding:0px 0px 0px 73px;
        margin:0px !important;
    }

    div#emf-container div.emf-div-field
    {
        width:auto;
        clear:none !important;
        padding:0px;
        float:left;
    }

    div#emf-container,
    div#emf-container div#emf-captcha-top-settings
    {
        font-family:Arial, Helvetica, sans-serif !important;
        font-size:12px !important;
        font-weight:bolder !important;
    }

    div#emf-container font
    {
        font-family:Arial, Helvetica, sans-serif !important;
        font-size:9px !important;
        font-weight:normal !important;
    }

    div#emf-container label.emf-label-desc
    {
        width:34% !important;
        display:block !important;
        float:left !important;
        font-family:Arial, Helvetica, sans-serif !important;
        font-weight:bolder !important;
    }

    div#emf-container li
    {
        padding:14px 0px 0px 0px !important;
    }

    #emf-container #emf-form ul li.emf-li-field
    {
        overflow:inherit !important;
        overflow-x:inherit !important;
    }


    div#emf-container img
    {
        display:inherit;
        float:none;
    }

    div#emf-container input[type="text"]
    {
        width:213px;
        height:22px;
        border:1px solid #abadb3;
        background:#FFF;
        line-height:22px;
    }

    div#emf-container a,
    div#emf-container a:hover
    {
        color:#000000;
        text-decoration:none;
    }

    div#emf-container div#emf-form-instruction
    {
        display:none;
    }

    div#emf-container div#emf-captcha-top-settings
    {
        padding:0px 0px 8px 0px;
    }

    div#emf-container div#emf-captcha-image-settings
    {
        padding:2px 5px 0px 4px !important;
    }

    div#emf-container div#emf-captcha-image-settings,
    div#emf-container div#emf-captcha-input-settings
    {
        float:left;
    }

    div#emf-container div#emf-captcha-input-settings
    {
        font-family:Arial, Helvetica, sans-serif !important;
        font-size:12px;
        font-weight:normal;
    }

    div#emf-container div#emf-captcha-image-settings img
    {
        display:block;
    }

    div#emf-container div#emf-captcha-input-settings input[type="text"]
    {
        width:93px;
        height:22px;
        margin:0px 6px 0px 2px;
        border:1px solid #abadb3;
        background:#FFF;
        line-height:22px;
    }

    div#emf-container div#emf-captcha-input-settings div
    {
        padding:0px 0px 6px 0px;
    }

    article.small-post ul.mob-share {
        border-bottom:none !important;
        border-top:none !important;
        padding:13px 0px 0px 0px !important;
        list-style:none;
    }

    article.small-post ul.mob-share li {
        padding:0px 18px 0px 0px;
        float:left;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -o-transform: scale(1.0);
        webkit-transform-origin: left top;
    }

}


@media only screen and (min-width: 0px)
{
    nav.main-menu
    {
        width: 728px;
        font-size:13px;
        line-height:15px;
    }

    form#searchform input[type="submit"],
    form#searchform input[type="text"]
    {
        font-size:12px;
    }

    form#searchform input[type="submit"]
    {
        padding:3px 0px 0px 0px;
        margin:0px;
    }

    article.small-post footer
    {
        font-size:9px;
        line-height:20px;
    }
    .sticky-area
    {
        position: relative;
    }
    ul.mob-share
    {
        display:none;
    }
}

a.switch-to-mobile
{
    height:62px;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight:bolder;
    line-height:62px;
    color:#333333;
    text-decoration:none;
    text-align:center;
}
.share_box{
	width:62px;height:22px;overflow: hidden;margin-left:20px;
}

article.single-post #FB_main_fraim{
	border: none;
	overflow: hidden;
	height:35px;
	margin-top:20px;
}

.bfb_gif {
position: relative;
}

.bfb_gif span {
position: absolute;
top: 50%;
left: 50%;
margin-top: -35px;
margin-left: -35px;
width: 70px;
height: 70px;

background-image:url(../img/btn_gif.png);
background-repeat:no-repeat;
}