@-webkit-viewport{width:640px}
@-moz-viewport{width:640px}
@-ms-viewport{width:640px}
@-o-viewport{width:640px}
@viewport{width:640px}

.center-box { max-width:100%; min-width: 640px !important; }
/* ----- header ----- */
header#header 
{
	min-height:80px;
	padding:15px 19px 0px 200px;
	background:#d5d5d5;
	-webkit-box-shadow:#acabab 0px 2px 3px;
  -moz-box-shadow:#acabab 0px 2px 3px;
  box-shadow:#acabab 0px 2px 3px;
	z-index:10;
	position:fixed;top:0px;width:66%;
}


a.logo
{
	width:155px;
	height:99px;
	position:absolute;
	top:-5px;
	left:9px;
}

a.logo img { display:block; width: 100%; }



nav.main-menu { 
	padding:0px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:33px;
	line-height:33px;
	color:#FFF;
	float:right;
}

.compact nav.main-menu { width: 120px; }

div.browse-item { 
	padding:0px 18px 0px 0px;
	float:left;
	font-size:28px;
	line-height:55px;
	z-index:4;
	margin-top:0;
}

div.browse-item a, 
div.browse-item a:hover { 
	height:68px;
	padding:8px 43px 0px 17px;
	display:block;
	color:#333333;
	text-decoration:none;
	position:absolute;
	right:5px;
	top:40px;
}

div.browse-item a:after { 
	width:21px;
	height:18px;
	display:block;
	content:"";
	position:absolute;
	top:27px;
	right:17px;
	background:0px 0px url(../img/bg_img_01.png) no-repeat;
}

div.browse-item.active a,
div.browse-item a.active { 
	background:#ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

div.browse-item.active a:after,
div.browse-item a.active:after { background:0px -18px url(../img/bg_img_01.png) no-repeat;  }

nav.main-menu ul { 
	width:100%;
	padding:0px 0px 0px 0px;
	list-style:none;
	z-index:2;
	background:#ffffff;
}

.compact #mobile-nav {
	display: none;
	position:fixed;
	top:90px;
	width: 100%;
	left:0px;
	padding:25px 0px 25px 0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background:#ffffff;
	z-index:2;
}

noscript .compact #mobile-nav {
    display: block;
    position: relative;
    top:0px;
}

.compact #mobile-nav .compact-only {
	color: #b3b3b3 !important;
	padding:76px 0px 37px 80px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 27px;
}

.compact #mobile-nav .compact-only a, .compact #mobile-nav .compact-only a:visited {
	color: #99ccff !important;
	text-decoration:none;
	padding:0px 32px 0px 32px;
}




#app-banner {
	font-family: "Franklin Gothic Medium", Arial, sans-serif;
	padding: 10px 0px;
	height: 125px;
	width: 100%;
	background-color: rgba(238, 238, 238, 0.7);
	position: fixed;
	bottom: 0px;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	left: 0px;
	z-index: 20;
	-webkit-backface-visibility: hidden;
}

#app-banner-overall-link {
	display: block;
	right: 20px;
	height: 114px;
	position: absolute;
	left: 70px;
	z-index: 21;
    -webkit-backface-visibility: hidden;
}

#app-banner-close-btn {
	position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1.0;
	margin-top: 30px;
	margin-left: 15px;
    -webkit-backface-visibility: hidden;	
}


#app-banner-icon {
	position: absolute;
	width: 100px;
	height: 100px;
    opacity: 1.0;
	margin-top: 10px;
	margin-left: 70px;
    -webkit-backface-visibility: hidden;
}


#app-banner-device h3 {
	font-size: 24px;
	position: absolute;
	margin-left: 180px;
	padding-top: 35px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
    opacity: 1.0;
	-webkit-font-smoothing:antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
}


#app-banner-store p {
	font-family: "Helvetica Light", Arial, sans-serif;
	font-size: 18px;
	position: absolute;
	margin-left: 180px;
	margin-top: 60px;
    opacity: 1.0;
	color: #777;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	-webkit-font-smoothing:antialiased;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
}
	
	

#app-banner-view-button {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50px;
    font-size: 24px;
    text-decoration: none;
    background-color: #08f;
    line-height: 21px;
    height: 20px;
    width: 60px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 rgba(255,255,255,0.7),0 1px 0 rgba(255,255,255,0.5) inset;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    visibility: hidden;
}



	

nav.main-menu ul li { padding:0px 60px 0px 60px;  }

nav.main-menu ul li a { 
	padding:18px 32px 18px 32px;
	display:block;
	color:#333333;
	text-decoration:none;
	border-top:1px solid #999999;
}

nav.main-menu ul li:first-child a { border-top:none;  }

nav.main-menu ul li a:hover,
nav.main-menu ul li.active a { 
	color:#333333;
	text-decoration:none;
}

nav.main-menu ul li:last-child {
	margin-bottom:-50px;
}

nav.main-menu a.btn-shop { 
	width:130px;
	height:55px;
	margin:8px 0px 0px 0px;
	display:block;
	float:left;
	background:0px 0px url(../img/bg_img_02.png) no-repeat;
	text-align:center;
	font-size:29px;
	line-height:51px;
	color:#FFF;
	text-decoration:none;
	position:relative;
	z-index:1;
}

.compact a.btn-shop {
	position: absolute !important;
	right:19px; 
	display:block;
} 
nav.main-menu a.btn-shop:hover { 
	background:0px 0px url(../img/bg_img_02.png) no-repeat;
	color:#FFF;
	text-decoration:none;
}

/* ----- end header ----- */
/* ----- content ----- */
section#content { 
	padding:27px 0px 20px 0px;
	position:relative;
	z-index:1;
}

.compact article.small-post { padding:0px 42px 30px 42px; margin: auto; }

.compact article.small-post h2 { 
	padding:0px 0px 9px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:normal;
	line-height:normal;
	color:#dd7bae;
}

.compact article.small-post h2 a,
.compact article.small-post h2 a:hover { 
	color:#dd7bae;
	text-decoration:none;
}

.compact article.small-post figure { padding:0px 0px 11px 0px;  }

.compact article.small-post figure img { 
	margin: 0px 0px 12px 0px;
	display: block;
	min-width: 450px;
	width: 100%;
}

.compact article.small-post figure a.btn-more { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bolder;
	color:#cccccc;
	text-decoration:none;
}

.compact article.small-post ul.mob-share { 
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	padding:19px 0px 33px 0;
	list-style:none;
	width:555px;
}

article.small-post ul.mob-share li { 
	padding:0px 30px 0px 0;
	float:left;
	-webkit-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-o-transform: scale(1.8);
	-webkit-transform-origin: left top;
	margin-left:62px;
}
article.small-post ul.mob-share li:first-child { 
	margin-left:-20px;
}
article.small-post ul.mob-share li:last-child { 
	float:right;
	margin-left:0;
	margin-right:28px;
}


article.small-post ul.mob-share li.fckn-pinit { 
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
  	width:30px;
}
article.small-post ul.mob-share li.stumbla { 
	-webkit-transform: scale(2.2);
	-ms-transform: scale(2.2);
	-moz-transform: scale(2.2);
	-o-transform: scale(2.2);
}



article.page-post { 
	padding:0px 0px 27px 0px;
	width: 556px;
	margin: auto;
	line-height:22px;
}

article.single-post { 
	padding:65px 0px 0px 0px;
	/*margin:0px 42px 0px 42px;*/
	font-size:26px;
	line-height:39px;
	color:#656565;
	position:relative;
	max-width: 556px;
	margin: auto;
}

article.single-post h1 { 
	padding:30px 0px 29px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:33px;
	font-weight:normal;
	line-height:normal;
	color:#dd7bae;
}

article.single-post ul.share-list {
	list-style:none;
	border-bottom:1px solid #999999;
	position:absolute;
	top:-6px;
	left:0px;
	width:536px;
	height:70px;
	overflow:hidden;
}

article.single-post ul.share-list li,
article.single-post ul.share-list-bottom li { 
	padding:20px 20px 0px 4px;
	min-height: 30px;
	float:left;
	position:relative;
	-webkit-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-o-transform: scale(1.8);
	webkit-transform-origin: left top;
	margin-left:70px;
	visibility:hidden;
}
article.single-post ul.share-list li:first-child,
article.single-post ul.share-list-bottom li:first-child { 
	margin-left: 0px;
	padding-top: 11px;
	max-width: 100px;
}
article.single-post ul.share-list li:last-child,
article.single-post ul.share-list-bottom li:last-child { 
	margin-left:0;
	float:right;
	position:relative;
	right:0px;
}
article.single-post ul.share-list li.p-in,
article.single-post ul.share-list-bottom li.p-in { 
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	-webkit-transform: opacity(1);
}

article.single-post ul.share-list li.p-in a,
article.single-post ul.share-list-bottom li.p-in a { 
	height: 20px;
	width: 40px;
}

article.single-post ul.share-list li.stum,
article.single-post ul.share-list-bottom li.stum{ 
	-webkit-transform: scale(2.2);
	-ms-transform: scale(2.2);
	-moz-transform: scale(2.2);
	-o-transform: scale(2.2);
}

article.single-post ul.share-list li span,
article.single-post ul.share-list-bottom li span,
article.single-post ul.share-list li a,
article.single-post ul.share-list-bottom li a
{
	float:left;
}

article.single-post ul.share-list-bottom { 
	padding:4px 0px 19px 23px;
	list-style:none;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	position:relative;
}

article.single-post figure { padding:0px 0px 0px 0px;  }

article.single-post p { padding:7px 0px 22px 0px;  }

article.single-post footer { 
	padding:13px 8px 0px 8px;
	line-height:22px;
}

article.single-post footer p { padding:14px 0px 42px 0px;  }

#emf-container {text-align: left;margin:0px 0px 0px -9px !important;width:auto;font-size:13px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px; position:relative;}

div#emf-container div.emf-div-field
{
	width:100%;
	clear:both !important;
	padding:5px 0px 5px 0px;
	float:none;
}

div#emf-container,
div#emf-container div#emf-captcha-top-settings
{
	font-family:"Times New Roman", Times, serif !important;
	font-size:29px !important;
	font-weight:normal !important;
}

div#emf-container font
{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:9px !important;
	font-weight:normal !important;
}

div#emf-container label.emf-label-desc
{
	width:auto !important;
	display:block !important;
	float:none !important;
	font-family:"Times New Roman", Times, serif !important;
	font-weight:normal !important;
}

div#emf-container img
{
	display:inherit;
	float:none;
}

div#emf-container li
{
	padding:0px !important;
}

div#emf-container div.emf-div-field
{
	width:100% !important;
	clear:both;
	padding:0px 0px 0px 0px;
	float:none !important;
}

div#emf-container input[type="text"]
{
	width:100%;
	height:47px;
	border:1px solid #abadb3;
	background:#FFF;
	line-height:44px;
}

div#emf-container a,
div#emf-container a:hover
{
	color:#000000;
	text-decoration:none;
}

div#emf-container div#emf-form-instruction
{
	display:none;
}

div#emf-container div#emf-captcha-top-settings
{
	padding:0px 0px 8px 0px;
}

div#emf-container div#emf-captcha-image-settings
{
	padding:2px 5px 7px 4px !important;
}

div#emf-container div#emf-captcha-image-settings,
div#emf-container div#emf-captcha-input-settings
{
	float:none;
}

div#emf-container div#emf-captcha-input-settings
{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:20px;
}

div#emf-container div#emf-captcha-image-settings img
{
	display:block;
}

div#emf-container div#emf-captcha-input-settings input[type="text"]
{
	margin:0px 0px 8px 0px;
}

div#emf-container div#emf-captcha-input-settings div
{
	padding:0px 0px 6px 0px;
}

.compact div#emf-container li#emf-li-post-button input
{
	margin:52px 0px 0px 0px;
	border:none;
	background:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:33px;
	color:#9fcfff;
	cursor:pointer;
}





.compact div.facebook-comment-container
{
	width:640px;
	padding:0px 0px 26px 0px;
	position:relative;
	left:-42px;
	top:-1px;
	border-bottom:3px solid #999999;
}

.compact article.single-post div.facebook-comment-container
{
	padding:0px 0px 0px 0px;
	border-bottom:none;
}

.compact div.facebook-comment-container.comments-open
{
	border-bottom:none;
}

.compact div.facebook-comment-container a.toggle-next
{
	height:62px;
	padding:0px 45px 0px 45px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bolder;
	line-height:62px;
	color:#96d0ff;
	text-decoration:none;
}

.compact div.facebook-comment-container.comments-open a.toggle-next
{
	background:#d5d5d5;
	color:#FFF;
	text-decoration:none;
}

.compact div.fb-com-container
{
	margin:0px 42px 0px 42px;
	border-bottom:1px solid #999999;
}

a.switch-to-mobile
{
	height:62px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight:bolder;
	line-height:62px;
	color:#333333;
	text-decoration:none;
	text-align:center;
}

.compact aside.compact-only
{
	width:100%;
	max-width:728px;
	margin:0 auto;
	padding:0px 0px 36px 0px;
	position:relative;
	overflow:hidden;
}



.compact aside#mobile-ads img {
max-width: 100% !important;
}


/* ----- end contant ----- */

article.small-post div.sticky-area {z-index: 10; }



article.small-post div.sticky-area footer,
article.small-post div.sticky-area p,
article.small-post div.short-content,
article.small-post div.sticky-area a.btn-more,
aside#sidebar,
aside#header-bar,
nav.sub-menu,
nav.main-menu br { display:none;  }

.compact article.small-post div.sticky-area footer,
.compact article.small-post div.sticky-area p,
.compact article.small-post div.sticky-area a.btn-more 
.compact aside#sidebar,
.compact aside#header-bar,
.compact nav.sub-menu,
.compact nav.main-menu br { display: none; }

.compact .compact-only { display: block; }
.compact .no-compact { display: none; }
.fb-comments, .fb-comments iframe[style], .fb-comments > span[style] {width: 100% !important;}
.share_box{
	width:62px;height:22px;overflow: hidden;margin-left:10px;
}
#wpadminbar{
	display:none;
}
article.single-post #FB_main_fraim{
	border: none;
	overflow: hidden;
	height: 110px;
	-webkit-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-o-transform: scale(1.8);
	margin-left:125px;
}
article.single-post .share-list .fckn-pinit,
article.single-post .share-list-bottom .fckn-pinit{
	margin-left:10px;
	width:55px;
}


article.single-post img:first-child{
	width:450px;
}

.bfb_gif {
position: relative;
}

.bfb_gif span {
position: absolute;
top: 50%;
left: 50%;
margin-top: -35px;
margin-left: -35px;
width: 70px;
height: 70px;

background-image:url(../img/btn_gif.png);
background-repeat:no-repeat;
}
